@font-face {
    font-family: 'Source sans pro';
    src: url('./fonts/source-sans-pro/SourceSansPro-Regular.otf')
}

@font-face {
    font-family: 'Spin Cycle';
    src: url('./fonts/Spin-Cycle-OT/spincycle_ot.otf');
}
:root {
    --font-family: 'Source sans pro', 'Spin Cycle', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Spin Cycle', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: var(--font-family);
    line-height: 3.2rem;
}
body {
    height: 100vh;
    margin: 0;
}
.container {
    max-width: 100rem;
    height: 100vh;
    background: url("./images/headphones_hero_1.jpg") no-repeat center center/cover fixed;";
    background-size: cover;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    top: 0;
    right: 0;
    left: 0;
}
a {
    text-decoration: none;
}
.nav a:hover, .nav a:active{
    color: #FF6565;
}
.mobile-nav {
    display: none;
}
.desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.desktop-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.desktop-nav li {
    padding: 0 1rem;
}
.container-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-logo img {
    width: 200px;
}
.nav ul {
    list-style: none;
    padding-left: 0;
}
.nav li a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    line-height: 3.2rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    color: white;
}
.phones-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.phone-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0;
    height: 40px;
    left: 4.55%;
    right: 4.71%;
    top: calc(50% - 40px/2 - 136.5px);
}
.phone-subtitle {
    font-size: .9rem;
    font-weight: 700;
    top: calc(50% - 20px/2 - 106px);
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    line-height: 40px;
    text-align: center;
}
.phone-description {
    padding: 50px 400px 50px 400px;
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    flex-wrap: wrap;
    line-height: 1.6rem;
}
.btn {
    display: inline-block;
    background: #ff6565;
    border-radius: 2.2rem;
    border: none;
    box-shadow: 10px 10px 50px 12px rgb(0 0 0 / 25%);
    outline: none;
    padding: 13px 31px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-top: 2rem;
}
.icon-label {
    display: none;
}

@media screen and (max-width: 775px) and (min-width: 580px) {
    header {
        padding: 1.8rem 1.25rem;
    }
    .container-logo img {
        width: 150px;
    }
    .nav ul li {
        font-size: 1.3rem;
        margin-left: 2.5rem;
    }
    .nav ul li a {
        color: white;
        font-size: 0.8rem;
        font-weight: 700;
        text-decoration: none;
        line-height: 3.2rem;
    }
    main {
        padding: 0 1.25rem;
    }
    .phones-infos {
        padding: 2rem 10rem 2rem 10rem;
    }
}
