@font-face {
    font-family: 'Source sans pro';
    src: url('./fonts/source-sans-pro/SourceSansPro-Regular.otf')
}

@font-face {
    font-family: 'Spin Cycle';
    src: url('./fonts/Spin-Cycle-OT/spincycle_ot.otf');
}
:root {
    --font-family: 'Source sans pro', 'Spin Cycle', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Spin Cycle', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: var(--font-family);
    line-height: 3.2rem;
}
body {
    height: 100vh;
    margin: 0;
}
.container {
    max-width: 100rem;
    height: 100vh;
    background: url("./images/headphones_hero_1.jpg") no-repeat center center/cover fixed;";
    background-size: cover;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    top: 0;
    right: 0;
    left: 0;
}
a {
    color: white;
    text-decoration: none;
}
.mobile-nav {
    display: none;
}
.desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.desktop-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.desktop-nav li {
    padding: 0 1rem;
}
.container-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-logo img {
    width: 200px;
}
.nav ul {
    list-style: none;
    padding-left: 0;
}
.nav li a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    line-height: 3.2rem;
}
.container .phones-infos {
    display: flex;
    flex-direction: column;
    padding: 15rem 10rem 25rem 18rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.container .phone-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0;
}
.container .phone-subtitle {
    font-size: .9rem;
    font-weight: 700;
    margin-top: 0;
}
.phone-description {
    text-align: center;
    font-size: .8rem;
    margin-top: 0;
}
.btn {
    display: inline-block;
    background: #ff6565;
    border-radius: 2.2rem;
    border: none;
    box-shadow: 10px 10px 50px 12px rgb(0 0 0 / 25%);
    outline: none;
    padding: 13px 31px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-top: 1rem;
}
